version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: notesdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  elasticsearch:
    image: elasticsearch:8.11.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ../minio-data:/data

    #frontend:
    #build: ../frontend
    #ports:
    #  - "3000:3000"
    #depends_on:
    # - backend

  backend:
    build: ../backend
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - elasticsearch
      - minio
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/notesdb
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin

volumes:
  postgres_data:
  elasticsearch_data: